<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="custom-container">
                <app-alert-message (toggleVisibility)="onAlertShown()"
                    [message]="alertMassege"
                    [alertType]="isSaved ? 1 : 0"
                    [isVisible]="showAlert">
                </app-alert-message>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="text-center mt-3 mb-5">
                <h1>New Contact</h1>
            </div>
            <div class="custom-container mt-5">
                <form #form="ngForm" (ngSubmit)="onSubmit()">
                    <div class="input-group mt-4">
                        <span class="input-group-text">
                            <i class="bi bi-person-fill"></i>
                        </span>
                        <input [(ngModel)]="newContact.name" placeholder="Name*" type="text" name="contactName"
                            class="form-control" />
                    </div>

                    <div class="input-group mt-4">
                        <span class="input-group-text">
                            <i class="bi bi-person-fill"></i>
                        </span>
                        <input [(ngModel)]="newContact.surname" placeholder="Surname" type="text" name="contactSurname"
                            class="form-control" />
                    </div>

                    <div class="input-group mt-4">
                        <span class="input-group-text">
                            <i class="bi bi-telephone-fill"></i>
                        </span>
                        <input [maxLength]="15" [(ngModel)]="newContact.phoneNumber" placeholder="(xxx-xxx-xxxx)"
                            type="tel" name="phoneNumber" class="form-control" />
                    </div>

                    <div class="input-group mt-4">
                        <span class="input-group-text">
                            <i class="bi bi-envelope-fill"></i>
                        </span>
                        <input #emailInput="ngModel" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,4}$"
                            [(ngModel)]="newContact.email" placeholder="email@example.com" type="email" name="email"
                            class="form-control" />
                    </div>

                    <div *ngIf="emailInput.invalid && emailInput.touched">
                        <div class="text-danger" *ngIf="emailInput.errors?.['pattern']">Invalid Email Format</div>
                    </div>

                    <div class="mt-4">
                        <button type="submit" [disabled]="form.invalid" class="btn btn-success me-3"
                            [ngClass]="{'disabled': newContact.name===''}">Save</button>
                        <button (click)="returnBack()" type="button" class="btn btn-danger ms-3">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <app-spinner [isVisible]="displayLoading" message="Saving Contact..."></app-spinner>
</div>